werkzeug==3.0.6
dash==3.0.1
gunicorn==23.0.0
numpy==2.2.4
pandas==2.2.3
scipy==1.15.2
Flask==3.0.3
plotly==6.0.1
DateTime==5.5
dash_bootstrap_components==2.0.0
lxml==5.3.1
scikit-learn==1.6.1
dash-draggable==0.1.2